@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Righteous&display=swap');

/* Color definitions */
:root {
    --lightblue: #D7F7FE;
    --darkblue: #1A577F;
    --medblue: #1F729C;
    --salmon: #FF6067;
    --hellayellow: #F7EE1A;
}

/* Typography */
body {
    background: var(--lightblue);
    font-family: 'Nunito', sans-serif;
    color: #222;
}

.site-title,
h1,
h2,
h3 {
    font-family: 'Righteous', sans-serif;
}

/* General styles */
* {
    transition: all 0.65s ease;
    box-sizing: border-box;
}

.container {
    max-width: 75em;
    margin: 0 auto;
}

/* Header styles */
.header {
    background: var(--salmon);
    color: white;
    padding: 10px;
}

.site-title,
.site-tagline {
    font-weight: 400;
}

.site-title {
    color: white;
}

/* Navigation styles */
.main-nav {
    background: var(--hellayellow);
    color: white;
}

.main-nav ul,
.main-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.main-nav ul a {
    color: var(--darkblue);
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 35px;
}

.mobile-button a {
    position: absolute;
    left: -99999em;
}

/* Media queries for mobile navigation */
@media (max-width: 700px) {
    .main-nav ul {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .main-nav ul li.mobile-button a {
        background: var(--hellayellow);
        color: var(--medblue);
    }

    .main-nav ul li.mobile-button a {
        position: static;
    }

    .main-nav ul li a {
        position: static;
    }

    .main-nav ul.open li {
        width: 100%;
    }
}

/* Project section styles */
.project {
    padding: 30px;
    background: var(--medblue);
    color: var(--lightblue);
    border-bottom: 5px solid var(--hellayellow);
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
}

.project:hover,
.project:focus {
    background: #5799B0;
    border-bottom-color: var(--salmon);
}

.project .item-title {
    color: var(--lightblue);
    font-size: 24px;
    margin: 0 0 5px 0;
}

.project .item-image {
    max-width: 100%;
}

.project .social {
    position: absolute;
    bottom: -21px;
    height: auto;
    z-index: 5;
    padding: 10px 0;
}

.project .social .fa {
    color: var(--salmon);
    padding: 0 5px;
}

/* Footer styles */
.footer {
    background: var(--salmon);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 13px;
}

/* About and Contact section styles */
.about,
.contact {
    margin-bottom: 50px;
}

.about h2,
.contact h2 {
    margin-bottom: 20px;
}

.contact ul {
    list-style-type: none;
}

.contact li {
    margin-bottom: 10px;
}

.contact li a {
    color: var(--darkblue);
}

.contact li a:hover {
    text-decoration: underline;
}
